.zz-dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 80%;
  border-radius: 12px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 0 2px #333;
  z-index: 501;
  &>div {
    position: relative;
  }
  .zz-dialog-close {
    position: absolute;
    right: .1rem;
    top: .1rem;
    width: .45rem;
    height: .45rem;
    line-height: .45rem;
    font-size: .3rem;
    // transform: translateY(-50%);
    text-align: center;
    z-index: 2;
    // background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAYAAADFw8lbAAAABGdBT…5g5QDIBGNNq44zxpowjIMREqo49muKZ+/olCwhkRgQ+wXFv79shSRV/QAAAABJRU5ErkJggg==) no-repeat;
    &:active {
      opacity: 0.75;
    }
  }
}

.zz-dialog__hd {
  padding: .3rem;
  text-align: center;
  span {
    font-size: .36rem;
  }
  &:after {
    // .setBottomLine();
  } // & + .zz-dialog__bd{
  // 	padding:.3rem;
  // }
}

.zz-dialog-title {
  font-size: .36rem;
}

.zz-dialog__bd {
  min-height: .6rem;
  padding: .45rem .3rem;
}

.zz-dialog__hd+.zz-dialog__bd {
  padding-top: 0;
}

.zz-dialog__ft {
  position: relative;
  display: flex;
  line-height: .96rem;
  border-radius: 0 0 12px 12px;
  &:before {
    .setTopLine();
  }
}

.zz-dialog-btn {
  position: relative;
  display: block;
  flex: 1;
  color: #445c95;
  text-align: center;
  .setTapColor();
  &:after {
    .setRightLine();
  }
  &:active {
    background-color: #ECECEC;
  }
  &:first-child {
    border-radius: 0 0 0 .1rem;
  }
  &:last-child {
    border-radius: 0 0 .1rem 0;
    &:after {
      display: none;
    }
  }
}

.zz-dialog-btn_warn {
  color: #f00;
}